{#
    Sets content for block--as-events.html.twig which pulls in event-list.twig.
    twig tweak
 #}

{# set classes for the container #}
{%
  set blockClasses = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
paragraph.bundle|clean_class,
  ]
%}


{% set label = content.field_component_label %}
{% set events_shown = content.field_events_shown|field_value|safe_join(', ')%}
{% set keyword_params = content.field_keyword_params|field_value|safe_join(', ') %}

<div{{attributes.addClass(blockClasses)}}>

  <h3>
    {{content.field_component_label}}
  </h3>
  {# added as block #}
  {# drupal_block('events_block', {label: label, events_shown: events_shown , keyword_params: keyword_params}) #}
  {# added as twig function #}
  {% set events = parse_events_json(events_shown,keyword_params) %}
  <div class="event-list">{% for event in events %}
      <div class="event">
        <div class="event__dateTime">
          <div class="event__date">
            <div class="event__month">
              {{event.month}}
            </div>
            <div class="event__day">
              {{event.date}}
            </div>
          </div>
          <div class="event__time">
            {{event.time}}
          </div>
        </div>
        <div class="event__content">
          <div class="event__title">
            <a href="{{event.url}}">
              {{event.title}}
            </a>
          </div>
          <div class="event__location">
            {{event.location}}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>