{# 

/* -------------------------

Title: node--person--card.html.twig
Descr: defines "person" and outputs fields for person card

--------------------------- */ 

#}
{# set wrapper bem calsses #}
{% set person_base_class = 'person' %}
{% set person_modifiers =  ["card--small"]%}
{% set person_classes = ['person', 'card'] %}



{# set var person #}
{% set remote_uuid = content.field_remote_uuid[0]['#context']['value'] %}
{% set person = parse_people_json(remote_uuid) %}
{# {{dump(person)}} #}


{# job title #}
{% if person.jobtitle %}
	{% set show_jobtitle = true %}
{% endif %}

{# departments #}
{% if person.departments %}
	{% set show_departments = true %}
{% endif %}

{# link #}
{% set link = content.field_link.0['#title'] %}


{# responsibilities #}
{# {% if person.responsibilities %}
  {% set show_responsibilities = true %}
{% endif %} #}

{# departments #}
{% if person.departments %}
  {% set show_departments = true %}
{% endif %}

{# person type #}
{% set personType = content.field_person_type.0["#plain_text"] %}
{% set card_link_url = '/people'~person.path %}

{# set image #}
{% if person.imagepath %}
	{% set image %}
		<img src="{{person.imagepath}}" alt="{{person.alt}}">
  {% endset %}
  {% else %}
  {% set image %}
		<img src="https://people.as.cornell.edu/sites/people/files/Klarmanarticle_4784_2.jpg" alt="Klarman Hall"/>
  {% endset %}
{% endif %}


{# {% embed "@content/person/_person--card.twig" with {

    title: person.title,
    jobtitle: person.jobtitle,
    responsibilities: person.responsibilities,
    contact: 'contacts coming',
    departments: person.departments,
    image: image
} %}{% endembed %} #}

<h1>person card small</h1>
<div {{ bem(person_base_class, (person_modifiers), person_blockname, person_classes) }} {% if person_nodeId %} aria-labelledby="item--{{person_nodeId}}" {% endif %}>
	{{title_suffix}}
	<figure class='person__image'>
		{{image}}
	</figure>
	<div class="person__name-title">
		{% include "@content/atoms/_heading.twig" with {
      "heading_level": 2,
"heading": person.title,

      "heading_url": card_title_link|default(card_link_url),
      "heading_blockname": card_title_blockname|default(card_base_class),
      "heading_modifiers": card_title_modifiers,
      "heading_link_base_class": card_title_link_base_class|default('title-link'),
      "heading_link_blockname": card_base_class,
      "heading_base_class": card_title_base_class|default('title'),
      "heading_class" : ['person__name'],
      "isAriaLabel" : node.id
    } %}
		{% if show_jobtitle %}
			<p class="person__title">
				{{ person.jobtitle }}
			</p>
		{% endif %}
	</div>
	{% if show_responsibilities %}
		<div class="person__responsibilities">
{{person.responsibilities|raw}}

		</div>
	{% endif %}

	{% if personType != "Faculty" %}
		<div class="person__contacts">
{{person.contact}}

		</div>
	{% endif %}

	{% if show_departments %}
		<div class="person__departments">
{{person.departments}}

		</div>
	{% endif %}
</div>

