{# {{vardumper()}} #}
<footer>
	{% block footer_content %}
		{# {{vardumper()}} #}
		<div class="footer">
			{# {{content}} #}
			{# {{ drupal_form('exposedformsearchpage_2') }} #}

			{# <div class="footer__currentStudents"> <h2>
																																						For current students
																																					</h2>
																																					{{ drupal_menu('for-current-students', 1, 2, true)	}}
																																				</div> #}
				<div class="footer__importantLinks"> FOOTER MENU
				{# {{ drupal_menu('footer', 1, 2, true) }} #}
			</div>
<<<<<<< HEAD
			{# {{drupal_block('block_content:thttps://neville.lndo.siteextblock_2')}} #}
=======
			{# {{drupal_block('block_content:textblock_2')}} #}
>>>>>>> 6f66a9942eaace6cde1c28e5b2818b3d28b54a98

			<div class="footer__socialLinks">
				<ul>
					<li><a href="https://twitter.com/CornellCAS" class="socialLink socialLink--twitter">Twitter</a></li>
					<li><a href="https://instagram.com/cornellcas" class="socialLink socialLink--instagram">Instagram</a></li>
					<li><a href="https://www.facebook.com/CornellCAS" class="socialLink socialLink--facebook">Facebook</a></li>
				</ul>
			</div>
			<div class="footer__logo">
				<a href="http://cornell.edu" title="Cornell University" class="cu-logo">
					Cornell University
				</a>
				<a class="as-logo" href="/" title="College of Arts & Sciences">
					The College of Arts & Sciences
				</a>

			</div>
			{# contact information will need to come from /admin #}
			<div class="footer__address">
				KG17 Klarman Hall
				<br/>
				Ithaca, NY 14853
				<br/>
				United states
			</div>
			<div class="footer__contacts">

				<a href="/college-contacts">
					Contact Arts & Sciences
				</a>
			</div>
			{# Below here will be consistent #}
			<div class="footer__otherInformation">
				<ul class="extraLinks">
					<li>
						&copy; 2021 College of Arts &amp; Sciences
					</li>
					<li>
						<a href="/web-accessibility">
							Website Accessibility
						</a>
					</li>
					<li>
						<a href="/privacy-policy">
							Privacy Policy
						</a>
					</li>
					<li>
						<a href="https://hr.cornell.edu/our-culture-diversity/diversity-inclusion/equal-opportunity-and-affirmative-action/equal-education">
							Equal Education &amp; Employment
						</a>
					</li>
					<li>
						<a href="https://emergency.cornell.edu/">
							Emergency Information
						</a>
					</li>
				</ul>

			</div>

		</div>
	{% endblock %}
</footer>
<a href="#top" class="toTopButton" title="got to top of page">
	Top
</a>
