{#
    Sets content for paragraph--course-block.twig
 #}

{# add data tables #}
{{attach_library('discovery/courses')}}

{% set label = content.field_component_label %}
{% set courses_shown = content.field_courses_shown|field_value|safe_join('')%}
{% set keyword_params = content.field_keyword_params|field_value|safe_join('') %}
{% set semester = content.field_semester|field_raw|safe_join('') %}
{% set semestername = content.field_semester|field_value|safe_join('') %}
{% set list_order = content.field_list_order|field_raw|safe_join('') %}
<h3>
	{{content.field_component_label}}
</h3>

{# added as twig function #}
{% set courses = parse_courses_json(semester,keyword_params,courses_shown,list_order) %}
{# {{vardumper(courses)}} #}

<table id="courses--table" class="courses--table">
  <thead>
    <tr>
      <th>Course ID</th>
      <th>Title</th>
      <th>Offered</th>
    </tr>
  </thead>
  <tbody>
  {% for course in courses %}
    <tr class="course course--table-row">
      <td class="course__number" valign="top">
        {{course.subject}}{{course.number}}
      </td>
      <td class="course__content">
      <span class="course__title">{{course.title}}<button class="toggle toggle--course-detail course__show-more">Show more</button></span>
      
      <span class="course__description">
        {{course.description}}
        <p><a href="https://classes.cornell.edu/browse/roster/{{semester}}/class/{{course.subject}}/{{course.number}}">
			Full details for
			{{course.subject}}
			{{course.number}}
			-
			{{course.title}}</a></p>
      </span>
      
      </td>
      <td class="course__offered">
        {{course.offered}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
