{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{{ title_prefix }}

{% block content %}

	<div class="footer__contacts">
		<div class="footer__address">
			{% if department_address %}
				{{department_address}}
				<br/>
			{% endif %}
			Ithaca, NY 14853
			<br/>
			United States
			{% if department_phone %}
				<br/>
				{{department_phone}}
			{% endif %}
		</div>
		<div class="footer__email">
			<a href="mailto:{{department_email}}">
				Email
				{{ drupal_config('system.site', 'name') }}
			</a>
		</div>
		<div class="footer__socialLinks">
			<ul>
				{% if department_twitter %}
					<li>
						<a href="https://twitter.com/{{department_twitter}}" class="socialLink socialLink--twitter">
							Twitter
						</a>
					</li>
				{% endif %}
				{% if department_instagram %}
					<li>
						<a href="https://instagram.com/{{department_instagram}}" class="socialLink socialLink--instagram">
							Instagram
						</a>
					</li>
				{% endif %}
				{% if department_facebook %}
					<li>
						<a href="https://www.facebook.com/{{department_facebook}}" class="socialLink socialLink--facebook">
							Facebook
						</a>
					</li>
				{% endif %}
				{% if department_linkedin %}
					<li>
						<a href="https://www.linkedin.com/{{department_linkedin}}" class="socialLink socialLink--linkedin">
							LinkedIn
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>

	<div class="footer__logo">
		<a href="http://cornell.edu" title="Cornell University" class="cu-logo">
			Cornell University
		</a>

		<a class="as-logo" href="https://as.cornell.edu" title="College of Arts & Sciences">
			The College of Arts & Sciences
		</a>
		{% if department_college_logos.CALS %}
			<a href="https://cals.cornell.edu" title="College of Agriculture and Life Sciences">
				<img src='/sites/default/files/CALS-wordmark.png' alt='CALS'>
			</a>
		{% endif %}
		{% if department_college_logos.ILR  %}
			<a href="https://ilr.cornell.edu" title="College of Indistrial and Labor Relations">
				<img src='/sites/default/files/ILR.png' alt='ILR'>
			</a>
		{% endif %}
		{% if department_college_logos.HUMEC %}
			<a href="https://www.human.cornell.edu" title="College of Human Ecology">
				<img src='/sites/default/files/che.png' alt='Human Ecology'>
			</a>
		{% endif %}
	</div>
	{# content #}

{% endblock %}
