{# /* -------------------------

Title: _card--person.twig
Descr: builds cards for personses'

--------------------------- */ #}

{% set card_base_class = 'card' %}
{% set card_byline = card_byline | default('') %}
{% set card_dateline = card_dateline | default('') %}


{# {% set figure_modifiers = ['mask-one'] %} #}
{{title_suffix}}
<div {{ bem(card_base_class, (card_modifiers), card_blockname) }} {% if card_nodeId %} aria-labelledby="item--{{card_nodeId}}" {% endif %}>

	<figure
		class='card--person__image'>
		{# <img src="{{person_image_path}}" alt="{{person_image_alt}}"/> #}
		{{image}}
	</figure>
	<div class="card--person__name-title">
		{% include "@content/atoms/_heading.twig" with {
      "heading_level": 2,
      "heading": person_name,
      "heading_url": card_title_link|default(card_link_url),
      "heading_blockname": card_title_blockname|default(card_base_class),
      "heading_modifiers": card_title_modifiers,
      "heading_link_base_class": card_title_link_base_class|default('title-link'),
      "heading_link_blockname": card_base_class,
      "heading_base_class": card_title_base_class|default('title'),
      "heading_class" : ['card--person__name'],
      "isAriaLabel" : card_nodeId
    } %}

		{% if person_jobtitle %}
			<p class="card--person__title">
				{{ person_jobtitle }}
			</p>
		{% endif %}
	</div>

	{% if show_responsibilities %}
		<div class="card--person__responsibilities">
			{{person_responsibilities|raw}}
		</div>
	{% endif %}
	{% if personType != "Faculty" %}
		<div class="card--person__contacts">
			{{contact}}
		</div>
	{% endif %}
	{% if show_departments %}
		<div class="card--person__departments">
			{{person_departments}}
		</div>
	{% endif %}
</div>
