{# /* -------------------------

Title: _card--stat.twig
Descr: builds cards for a single stat as link to related content

--------------------------- */ #}


{% set card_base_class = 'card' %}
{% set card_byline = card_byline | default('') %}
{% set card_dateline = card_dateline | default('') %}

{# {% include "@base/_divBEM.twig" with {
  base_class : card_base_class,
  modifiers : card_modifiers,
  extra_classes : card_extra_classes
} %} #}

{# {{vardumper()}} #}

{# {% set figure_modifiers = ['mask-one'] %} #}


	<div {{ bem(card_base_class, (card_modifiers), card_blockname) }} {% if card_nodeId %} aria-labelledby="article-title-{{card_nodeId}}" {% endif %}> {{card_image|raw}}
	<div {{ bem(card_copy_base_class|default('card__copy'), (card_copy_modifiers), card_copy_blockname) }}>
{{title_suffix}}

		{% if hasLink %}
			<a href="{{card_link_url}}">
				{{ card_label }}
			</a>
		{% else %}
			<div class="card__label">
				{{card_label}}
			</div>
		{% endif %}

		{{card_body}}


	</div>
</div>
