{#

/* -------------------------

Title: _teaser.twig
Descr: output for teaser view modes
receives:
--- image as thumbnail
--- title
--- type (article, dept, major/minor, page)
--- byline_reference and media_source_reference if article
--- summary or trimmed
--- link to content
Setting up new block class of 'teaser'

--if show_fancybox for teasers that are part of a fancybox or gallery

--------------------------- */

#}

{# {{ vardumper(content) }} #}
{% set teaser_base_class = 'teaser' %}
{# {% set teaser_byline = teaser_byline | default('') %} #}
{% set teaser_dateline = teaser_dateline | default('') %}

{# fancybox wrapper #}
{% if show_fancybox %}
	<div id="{{fancyboxID}}" style="display: none;">
	{% endif %}


	<div {{ bem(teaser_base_class, (teaser_modifiers), teaser_blockname, teaser_classes) }} {% if teaser_nodeId %} aria-labelledby="item--{{teaser_nodeId}}" {% endif %}>


		{{teaser_img}}
		<div {{ bem(teaser_copy_base_class|default('teaser__copy'), (teaser_copy_modifiers), teaser_copy_blockname) }}>
			{% if teaser_label %}
				<p class="teaser__label eyebrow">
					{{ teaser_label }}
				</p>
			{% endif %}
			{% include "@content/atoms/_heading.twig" with {
        "heading_level": 2,
        "heading": teaser_title,
        "heading_url": teaser_title_link|default(teaser_link_url),
        "heading_blockname": teaser_title_blockname|default(teaser_base_class),
        "heading_modifiers": teaser_title_modifiers,
        "heading_link_base_class": teaser_title_link_base_class|default('title-link'),
        "heading_link_blockname": teaser_base_class,
        "heading_base_class": teaser_title_base_class|default('title'),
        "isAriaLabel" : teaser_nodeId
    } %}

			<p>
				{% if teaser_dateline %}
					<span class="teaser__date">
						{{ teaser_dateline }}
					</span>
				{% endif %}
				{% if teaser_byline %}
					<span class="teaser__byline">
						{% if teaser_byline %}
							by :
							{{ teaser_byline }}
						{% endif %}
						{% if teaser_byline and teaser_media_source %}
							,
						{% endif %}
						{% if teaser_media_source %}
							{{ teaser_media_source }}
						{% endif %}
					</span>
				{% endif %}
				{% if mm_level %}
					{{mm_level}}
				{% endif %}
			</p>
			{% if teaser_body %}
				{{teaser_body|raw}}
			{% endif %}
			{% if show_fancybox %}
				<p>
<a href="{{teaser_title_link|default(teaser_link_url)}}">

						Full details
					</a>
				</p>
			</span>
		{% endif %}


	</div>
</div>
{% if show_fancybox %}
</div>{% endif %}
