{# 

/* -------------------------

Title: node--article--card.html.twig
Descr: defines "article" and outputs fields for article card

--------------------------- */ 

#}
{# set wrapper bem calsses #}
{% set card_base_class = 'card' %}
{% set card_modifiers =  ["article", "small"]%}

{% set remote_uuid = content.field_remote_uuid[0]['#context']['value'] %}
{% set article = parse_article_json(remote_uuid) %}

{{vardumper(article)}}
{% if article.imagepath %}
	{% set image %}
		<img src="{{article.imagepath}}" alt="{{article.alt}}">
	{% endset %}
{% endif %}

<div {{ bem(card_base_class, (card_modifiers), card_blockname) }} {% if nodeId %} aria-labelledby="item--{{nodeId}}" {% endif %}> 

{{image}}

	<div {{ bem(card_copy_base_class|default('card__copy'), (card_copy_modifiers), card_copy_blockname) }}>

			{% include "@content/atoms/_heading.twig" with {
        "heading_level": 2,
        "heading": article.title,
        "heading_url": url,
        "heading_blockname": card_title_blockname|default(card_base_class),
        "heading_modifiers": card_title_modifiers,
        "heading_link_base_class": card_title_link_base_class|default('title-link'),
        "heading_link_blockname": card_base_class,
        "heading_base_class": card_title_base_class|default('title'),
        "isAriaLabel" : nodeId
    } %}

	</div>
</div>