{#

/* -------------------------

Title: node--page.html.twig
Descr: This is the framework for a basic page contnet type. Sets up variables and content for _basic-page.twig

--------------------------- */

#}

{# set variables to show or hide menu based on role and site url #}
{% set roles = user.getroles(TRUE) %}
{# Set up main
    - extra class main
    - base class page
    - modifier basic
    - turn on sidebarNav
 #}
{# {% set main_element_extra_classes = ['main'] %}
{% set main_element_base_class = 'basicPage' %}
{% set blockClasses = [''] %} #}
{# set defaults #}
{# {% set show_sidebarNav = true %} #}
{% set show_aside = false %}
{# {% set show_sidebarContent = false %} #}
{# {{vardumper()}} #}
{# Create classes array. The 'node' class is required for contextual edit links. #}
{# set classes for the container #}
{%
  set blockClasses = [
    'basicPage',
    'main',
  ]
%}


{# Set main content #}
{% set mainContent = content.field_page_components %}

{# set has-sidebar #}
{% if content.field_page_layout.0["#markup"] == "hasSidebar" %}
  {% set blockClasses = blockClasses|merge(['basicPage--has-sidebar'])%}
  {% set show_sidebarContent = true %}
{% elseif content.field_page_layout.0["#markup"] == "fullPage" %}
  {% set blockClasses = blockClasses|merge(['basicPage--full-page'])%}
  {% set show_sidebarContent = false %}
{% else %}
  {% set blockClasses = blockClasses|merge(['basicPage--has-sidebar'])%}
  {% set show_sidebarContent = true %}
{% endif %}

{# Set sidebar content #}
{% if content.field_sidebar_components %}
  {% set sidebarContent = content.field_sidebar_components %}
{% endif %}

{# Set linkValues and show aside for OTP page section #}
{% set linkValues = [] %}
{% for item in content.field_page_components|field_target_entity %}

{% set type =  item.type.value.0.target_id%}
	{% if type == 'page_section' %}
		{% set sectionLabel =  item.field_section_label.value%}
		{% set linkValues = linkValues|merge([sectionLabel]) %}
	{% endif %}
{% endfor %}
{% if linkValues != [] %}
  {% set show_aside = true %}
{% set blockClasses = blockClasses|merge(['basicPage--has-aside']) %}

{% endif %}

{% set sidebar_wrapper_extra_classes = sidebar_wrapper_extra_classes | default(['']) %}

{# {{vardumper(content)}} #}

<main{{attributes.addClass(blockClasses)}} id="mainContent">

	<div class="title">
		{% include "@content/atoms/_heading.twig" with {
        "heading_level" : 1,
        "heading" : label,
        "heading_modifiers" : heading_modifiers,
        "heading_base_class" : heading_base_class,
        "heading_class" : heading_class
      } %}
	</div>
	<div class="content">
		{{mainContent}}
	</div>
  {% if show_sidebarContent %}
    <nav class="nav--site" aria-label="Section links" id="section-menu">
    {% if roles.0 == 'administrator' %}
      {{ drupal_entity('block', 'domainmenusactivedomainmenu_2', check_access=false) }}
    {% else %}
      {{ drupal_menu('main', 2, 0, expand=true) }}
    {% endif %}
    </nav>
		<div class="sidebar">
			{{sidebarContent}}
		</div>
	{% endif %}
	{% if show_aside %}
		<aside role="complimentary">
    {% if linkValues %}
    {# has-sidebar or full-page #}
<div class='otpNavWrapper otpNavWrapper--{{content.field_page_layout.0["#markup"]}}'>


        {% embed "@content/atoms/_section-toggle.twig" with{
          section_toggle_base_class : "toggle",
          section_toggle_modifiers : ["otpNav"],
          section_toggle_content : "On this page:"
        } %}
        {% endembed %}

      {{ drupal_block('page_menu_block', {link_values:linkValues}) }}
      </div>
    {% endif %}
		</aside>
	{% endif %}
</main>

