{#

/* -------------------------

Title: _person.twig
Descr: defines content and blocks for basic person page

--------------------------- */

#}
{% set isTitle = true %}
{% set sidebar_wrapper_extra_classes = sidebar_wrapper_extra_classes | default(['']) %}
<main {{ bem(main_element_base_class, (main_element_modifiers), main_blockname, main_element_extra_classes) }}>
	{{title_suffix}}
	<div class="title">
		{% include "@content/atoms/_heading.twig" with {
    "heading_level" : 1,
    "heading" : name,
    "heading_base_class" : "title"
  } %}
		{% include "@content/atoms/_heading.twig" with {
    "heading_level" : 3,
    "heading" : title,
    "heading_modifiers" : ["person"],
    "heading_base_class" : "title"
  } %}
	</div>

	<div class="content">

		{% if show_summary %}
			<h2>
				Summary
			</h2>
			{{summary|raw}}
		{% endif %}
		{% if show_researchfocus %}
			<h2>
				Research Focus
			</h2>
			{{researchfocus|raw}}
		{% endif %}
		{% if show_publications %}
			<h2>
				Publications
			</h2>
			{{publications|raw}}
		{% endif %}
		{% if show_related_articles %}
			<h2>
				In the news
			</h2>
			{{related_articles}}
		{% endif %}

	</div>
	<div class="sidebar">
		{{image}}
		<div class="person__contact">
			{{contact}}
		</div>
		{% if show_education %}
			<h3>
				Education
			</h3>
			{{education|raw}}
		{% endif %}
		{% if show_departments %}
			<h3>
				Departments and programs
			</h3>
			{{departments|raw}}
		{% endif %}
		{% if show_links %}
			<h3>
				Links
			</h3>
			<ul>
				{% for link in links %}
					<li>
						<a href='{{ link.uri }}'>
							{{ link.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if show_node_links %}
			<h3>
				Links
			</h3>
			{{links}}
			</ul>
		{% endif %}
	</div>
</main>
