{#

/* -------------------------

Title: node--page.html.twig
Descr: This is the framework for a basic page contnet type. Sets up variables and content for _basic-page.twig

--------------------------- */

#}

{# {{vardumper()}} #}

{# Set up main
    - extra class main
    - base class page
    - modifier basic
    - turn on sidebarNav
 #}
{% set main_element_extra_classes = ['main'] %}
{% set main_element_base_class = 'basicSidebar' %}
{# {% set main_element_modifiers = ['has-aside'] %} #}
{# set defaults #}
{% set show_sidebarNav = true %}
{% set show_aside = false %}
{% set show_sidebar = false %}

{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node'
] %}

{# set main content #}
{% set mainContent = content.field_page_components %}

{# set sidebar #}
{% if content.field_sidebar_components %}
  {% set show_sidebar = true %}
  {% set sidebarContent = content.field_sidebar_components %}
{% endif %}

{# 
  set aside 
  ***Mark*** 
  if there are page section components, set show_aside = true
#}



{% set sidebar_wrapper_extra_classes = sidebar_wrapper_extra_classes | default(['']) %}
{{vardumper()}}

<main {{ bem(main_element_base_class, (main_element_modifiers), main_element_blockname, main_element_extra_classes) }} id="mainContent">
	<div class="title">
		{% include "@content/atoms/_heading.twig" with {
        "heading_level" : 1,
        "heading" : label,
        "heading_modifiers" : heading_modifiers,
        "heading_base_class" : heading_base_class,
        "heading_class" : heading_class
      } %}
	</div>
	<div class="content">
		{{mainContent}}
	</div>
	{% if show_sidebarNav != false %}
		<nav class="nav--site">
			{{ drupal_menu('main', 2) }}
		</nav>
	{% endif %}
	{% if show_sidebar %}
		<div class="sidebar">
			{{sidebarContent}}
		</div>
	{% endif %}
	{% if show_aside %}
		<aside role="complimentary">
			{{ otp_nav }}
		</aside>
	{% endif %}
</main>

