{#

/* -------------------------

Title: node--page.html.twig
Descr: This is the framework for a basic page contnet type. Sets up variables and content for _basic-page.twig

--------------------------- */

#}

{# {{vardumper()}} #}

{# Set up main
    - extra class main
    - base class page
    - modifier basic
    - turn on sidebarNav
 #}
{% set main_element_extra_classes = ['main'] %}
{% set main_element_base_class = 'basicSidebar' %}
{% set main_element_modifiers = ['has-aside'] %}
{# set defaults #}
{% set sidebarNav = true %}
{% set aside = false %}
{% set sidebarContent = false %}

{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node'
] %}


{% set aside = true %}
{% set heading_class = "bob" %}



{% set sidebar_wrapper_extra_classes = sidebar_wrapper_extra_classes | default(['']) %}
{# {{vardumper()}} #}

<main {{ bem(main_element_base_class, (main_element_modifiers), main_element_blockname, main_element_extra_classes) }} id="mainContent">


	<div class="title">
		{% include "@content/atoms/_heading.twig" with {
        "heading_level" : 1,
        "heading" : label,
        "heading_modifiers" : heading_modifiers,
        "heading_base_class" : heading_base_class,
        "heading_class" : heading_class
      } %}
	</div>
	<div class="content">
		{{content}}
	</div>
	{% if sidebarNav != false %}
		<nav class="nav--site">
			{{ drupal_menu('main', 2) }}
			{# drupal_block('mainnavigation_2') #}
			{# drupal_entity('block', 'mainnavigation', check_access=false) #}
		</nav>
	{% endif %}
	{% if sidebarContent %}
		<div class="sidebar">
			{{sidebar_content}}
		</div>
	{% endif %}
	{% if aside %}
		<aside role="complimentary">
			<h2>
				test aside here?
			</h2>
			{{ otp_nav }}
			{{ aside_content }}
		</aside>
	{% endif %}
</main>

