{#

/* -------------------------

Title: node--landing-page.html.twig
Descr: This is the framework for a landing page contnet type.

--------------------------- */

#}


{# Set up main
    - extra class main
    - base class page
    - modifier basic
    - turn on sidebarNav
 #}
{% set main_element_extra_classes = ['main'] %}
{% set main_element_base_class = 'landingPage' %}
{% set main_element_modifiers = [''] %}
{# set defaults #}
{# {% set show_sidebarNav = true %} #}
{% set show_aside = false %}


{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node'
] %}

{# Set main content #}
{% set mainContent = content.field_page_components %}



{# Set linkValues and show aside #}
{% set linkValues = [] %}
{% for item in content.field_page_components|field_target_entity %}
	{% set type =  item.type.value.0.target_id%}
	{% if type == 'page_section' %}
		{% set sectionLabel =  item.field_section_label.value%}
		{% set linkValues = linkValues|merge([sectionLabel]) %}
	{% endif %}
{% endfor %}
{% if linkValues != [] %}
  {% set show_aside = true %}
{% endif %}

{# need to add pano #}


{% if content.field_pano.0 %}
  {% set showPano = "true" %}
  {% set main_element_modifiers = main_element_modifiers|merge(["pano"]) %}
  {% else %}
{% set main_element_modifiers = main_element_modifiers|merge(["no-pano"]) %}

{% endif %}

{% set sidebar_wrapper_extra_classes = sidebar_wrapper_extra_classes | default(['']) %}
{# {{vardumper()}} #}

<main {{ bem(main_element_base_class, (main_element_modifiers), main_element_blockname, main_element_extra_classes) }} id="mainContent">

  {# {% if showPano %}
	<div class="pano">
  {{content.field_pano}}
  </div>
  {% endif %}
   #}
  <div class="title">
		{% include "@content/atoms/_heading.twig" with {
        "heading_level" : 1,
        "heading" : label,
        "heading_modifiers" : heading_modifiers,
        "heading_base_class" : heading_base_class,
        "heading_class" : heading_class
      } %}
	</div>
	<div class="content">
		{{mainContent}}
	</div>
 
	{% if show_aside %}
		<aside role="complimentary">
    {% if linkValues %}
      <div class="otpNavWrapper otpNav--landing_page"> 
{% embed "@content/atoms/_section-toggle.twig" with{
          section_toggle_base_class : "toggle",
          section_toggle_modifiers : ["otpNav"],
          section_toggle_content : "On this page:"
        } %}
{% endembed %}

      {{ drupal_block('page_menu_block', {link_values:linkValues}) }}
      </div>
    {% endif %}
		</aside>
	{% endif %}
</main>

