{# 

/* -------------------------

Title: node--article.html.twig
Descr: defines "article" and outputs fields for article card

Looks at content.field_remote_uuid
  if has value -- sets title, components, image, label, dateline, bylines, media to remote data.
  if no value -- sets everything to local values

  Related people and aricles ARE NOT pulled in from remote json. They will show if manually added to locl, that's why they are not set in the same {% if %}

--------------------------- */ 

#}
{# set wrapper bem calsses #}
{# {% set page_base_class = 'page' %}
{% set page_modifiers =  ["article"]%} #}
{% set main_element_extra_classes = ['main', 'content'] %}
{% set main_element_base_class = 'article' %}
{% set main_element_modifiers = [''] %}
{# {{vardumper()}}  #}

{# 

  if content.field_remote_uuid.0
  set as remote and set remote variables

#}

{% if content.field_remote_uuid.0 %}
	{% set remote_uuid = content.field_remote_uuid[0]['#context']['value'] %}
	{% set article = parse_article_json(remote_uuid) %}

	{% set title = article.title %}

	{% if article.article_components %}
		{% set article_components = article.article_components%}
	{% endif %}

	{# card label #}
	{% if article.card_label %}
	  {% set show_label = true %}
	  {% set card_label = article.card_label %}
	{% endif %}

	{# dateline #}
	{% if article.dateline %}
	  {% set show_dateline = true %}
	  {% set dateline = article.dateline|date("n/d/Y") %}
	{% endif %}

	{# bylines #}
	{% if article.bylines %}
	  {% set show_bylines = true %}
	  {% set bylines = article.bylines %}
	{% endif %}

	{# media sources #}
	{% if article.media_sources %}
	  {% set show_media_sources = true %}
	  {% set media_sources = article.media_sources %}
	{% endif %}

{# 
  else set to local and set all variables from "content"
#}

{% else %}

  {% set title = label %}
  {% set localorremote = "local"%}

  {# card label #}
  {% if content.field_card_label %}
    {% set show_label = true %}
    {% set card_label = content.field_card_label %}
  {% endif %}

  {# dateline #}
  {% if content.field_dateline %}
    {% set show_dateline = true %}
    {% set dateline = content.field_dateline %}
  {% endif %}

  {# bylines #}
  {% if content.field_bylines %}
    {% set show_bylines = true %}
    {% set bylines = content.field_bylines %}
  {% endif %}

  {# media sources #}
  {% if content.field_media_sources %}
    {% set show_media_sources = true %}
    {% set media_sources = content.field_media_sources %}
  {% endif %}

  {# article components #}
  {% if content.field_article_components %}
    {% set article_components = content.field_article_components %}
  {% endif %}

{% endif %}


{# Set related articles here because they will always come from local #}
{% if content.field_related_articles.0 %}
	{% set show_related_articles = true %}
	{% set related_articles = content.field_related_articles %}
{% endif %}

{# Related people #}
{% if content.field_related_people.0 %}
	{% set show_related_people = true %}
	{% set related_people = content.field_related_people %}
{% endif %}

{# 
setting image
  - if local image path set use that
  - if no local image path and article.imagepath use that
  - default to stock image
#}
{% if content.field_image.0 %}
	{% set image %}
	{{content.field_image}}
	{% endset %}
{% elseif article.imagepath %}
	{% set image %}
	<figure>
		<img src="{{article.imagepath}}" alt="{{article.alt}}">
	</figure>
	{% endset %}
{% else %}
	{% set image %}
	<figure>
		<img src="https://as.cornell.edu/sites/default/files/styles/4_5/public/2021-03/up20150602038select1500x1000px.jpg" alt="Flowering tree in spring">
	</figure>
	{% endset %}
{% endif %}



<main {{ bem(main_element_base_class, (main_element_modifiers), main_element_blockname, main_element_extra_classes) }} id="mainContent"/>

		{{titles_suffix}}
		{{ title_prefix }}

	  {% if hasPano %}
			<div class="article__pano">
				{{article_pano}}
			</div>
		{% endif %}

		<div class="article__title">
			{% include "@content/atoms/_heading.twig" with {
	      "heading_level" : 1,
	      "heading" : title,
	      "heading_base_class" : "title"
	    } %}
			<p class="article__label">
				{{card_label}}
			</p>
			{% if show_bylines or show_media_sources or show_article_dateline %}
				<p class="article__byline">
					{% if show_bylines or show_media_sources %}
						{% if show_bylines %}
							By |
							{{bylines}}
						{% endif %}

						{% if show_byline and show_media_sources %}
							,
						{% endif %}
						{% if show_media_sources %}
							{{media_sources}}
						{% endif %}
						<br/>
					{% endif %}
				</p>
			{% endif %}
			<span class="article__dateline">
				{{dateline}}
			</span>
		</div>

	  <div class="article__content">
	    {{article_components|raw}}
	    
	  </div>
    <div class="article__otherNews">
      <h2>
        More News from A&S
      </h2>
      <div class="smallCards pcWrapper pcWrapper--relatedArticles">
        {{ drupal_view('news', 'block_2') }}
        <a href="/news" class="btn btn--blue">
          View all news
        </a>
      </div>
    </div>
		<div class="article__thumbnail">
			{{image}}
		</div>
		<aside role="complimentary">

			{% if show_related_articles %}
				<h3>
					Related articles
				</h3>
				{{related_articles}}
			{% endif %}

	    {# {% if show_departments_programs %}
				<h3>
					Related department or program
				</h3>
				{{article.departments}}
			{% endif %} #}

	    {% if show_related_people %}
				<h3>
					Related people
				</h3>
				{{related_people}}
			{% endif %}
	</aside>
</main>
