{# 

/* -------------------------

Title: node--article--teaser.html.twig
Descr: defines "article" and outputs fields for article card

--------------------------- */ 

#}
{# set wrapper bem calsses #}
{% set card_base_class = 'article' %}
{% set card_modifiers =  ["teaser"]%}

{% if content.field_remote_uuid.0 %}
	{% set remote_uuid = content.field_remote_uuid[0]['#context']['value'] %}
	{% set article = parse_article_json(remote_uuid) %}

	{% set title = article.title %}

	{# card label #}
	{% if article.card_label %}
		{% set show_label = true %}
		{% set card_label = article.card_label %}
	{% endif %}
	{# dateline #}
	{% if article.dateline %}
		{% set show_dateline = true %}
		{% set dateline = article.dateline|date("n/d/Y") %}
	{% endif %}
	{# bylines #}
	{% if article.bylines %}
		{% set show_bylines = true %}
		{% set bylines = article.bylines %}
	{% endif %}

  {# summary #}
  {% if article.summary %}
    {% set show_summary = true %}
    {% set summary = article.summary %}
  {% endif %}


	{# 
	  else set to local and set all variables from "content"
	#}
{% else %}
	{% set title = label %}
	{# card label #}
	{% if content.field_card_label %}
		{% set show_label = true %}
		{% set card_label = content.field_card_label %}
	{% endif %}
	{# dateline #}
	{% if content.field_dateline %}
		{% set show_dateline = true %}
		{% set dateline = content.field_dateline %}
	{% endif %}
	{# bylines #}
	{% if content.field_bylines %}
		{% set show_bylines = true %}
		{% set bylines = content.field_bylines %}
	{% endif %}
  {# summary #}
  {% if content.field_page_summary %}
    {% set show_summary = true %}
    {% set summary = content.field_page_summary|raw %}
  {% endif %}

{% endif %}
{# 
setting image
  - if local image path set use that
  - if no local image path and article.newsletter_imagepath use that
  - default to stock image
#}
{# 
  NOTE Setting geric image for now. need to get newsletter/landscape set up for remot items#}
{% if content.field_newsletter_image.0 %}
	{% set image %}
	{{content.field_newsletter_image}}
	{% endset %}
{% elseif article.landscape_imagepath %}
	{% set image %}
	<figure>
		<img src="{{article.newsletter_imagepath}}" alt="{{article.landscapeimagealt}}">
	</figure>
	{% endset %}
{% else %}
	{% set image %}
	<figure>
{# {{ drupal_image('public://2021-07/giant-side-close.jpg', 'landscape')}} #}
<img src="https://departments.as.cornell.edu/sites/default/files/styles/landscape/public/2021-09/2020_1227_060.jpg" alt="">


</figure>
	{% endset %}
{% endif %} 
{# {% set image %}
<figure>
<img src="/sites/default/files/styles/landscape/public/2021-07/giant-side%20%281%29.jpg?h=6b5b50d2&itok=go5yxNB5" alt="">
</figure>
{% endset %} #}

{# {{vardumper(article)}} #}

<article {{ bem(card_base_class, (card_modifiers), article_blockname, article_classes) }} {% if nodeId %} aria-labelledby="item--{{nodeId}}" {% endif %}> 

{{title_suffix}}
{{image}}


	<div {{ bem(article_copy_base_class|default('article__copy'), (article_copy_modifiers), article_copy_blockname) }}>

			{% include "@content/atoms/_heading.twig" with {
        "heading_level": 2,
        "heading": title,
        "heading_url": url,
        "heading_blockname": article_title_blockname|default(card_base_class),
        "heading_modifiers": article_title_modifiers,
        "heading_link_base_class": article_title_link_base_class|default('title-link'),
        "heading_link_blockname": card_base_class,
        "heading_base_class": article_title_base_class|default('title'),
        "isAriaLabel" : nodeId
    } %}
{# 

		{% if show_label %}
			<span class="article__label">
				{{ card_label }}
			</span>
		{% endif %} #}

		{# {% if show_dateline %}
			<span class="article__date">
				{{ dateline }}
			</span>
		{% endif %} #}

		{# {% if show_bylines %}
			<span class="article__byline">
				By |
				{{ bylines }}
			</span>
		{% endif %} #}
    {% if show_summary %}
      <p class="article__summary">
      {{summary|raw}}
      </p>
    {% endif %}
    <a href="{{url}}" class="button article__link">Read More</a>

	</div>
</article>
