{# 

/* -------------------------

Title: node--article--card.html.twig
Descr: defines "article" and outputs fields for article card

--------------------------- */ 

#}
{# set wrapper bem calsses #}
{% set card_base_class = 'article' %}
{% set card_modifiers =  ["card"]%}

{% if content.field_remote_uuid.0 %}
	{% set remote_uuid = content.field_remote_uuid[0]['#context']['value'] %}
	{% set article = parse_article_json(remote_uuid) %}

	{% set title = article.title %}

	{# card label #}
	{% if article.card_label %}
		{% set show_label = true %}
		{% set card_label = article.card_label %}
	{% endif %}
	{# dateline #}
	{% if article.dateline %}
		{% set show_dateline = true %}
		{% set dateline = article.dateline|date("n/d/Y") %}
	{% endif %}
	{# bylines #}
	{% if article.bylines %}
		{% set show_bylines = true %}
		{% set bylines = article.bylines %}
	{% endif %}
	{# media sources #}
	{% if article.media_sources %}
		{% set show_media_sources = true %}
		{% set media_sources = article.media_sources %}
	{% endif %}
	{# 
	  else set to local and set all variables from "content"
	#}
{% else %}
	{% set title = label %}
	{# card label #}
	{% if content.field_card_label %}
		{% set show_label = true %}
		{% set card_label = content.field_card_label %}
	{% endif %}
	{# dateline #}
	{% if content.field_dateline %}
		{% set show_dateline = true %}
		{% set dateline = content.field_dateline %}
	{% endif %}
	{# bylines #}
	{% if content.field_bylines %}
		{% set show_bylines = true %}
		{% set bylines = content.field_bylines %}
	{% endif %}
	{# media sources #}
	{% if content.field_media_sources %}
		{% set show_media_sources = true %}
		{% set media_sources = content.field_media_sources %}
	{% endif %}
{% endif %}
{# 
setting image
  - if local image path set use that
  - if no local image path and article.imagepath use that
  - default to stock image
#}
{% if content.field_image.0 %}
	{% set image %}
	{{content.field_image}}
	{% endset %}
{% elseif article.imagepath %}
	{% set image %}
	<figure>
		{# <img src="{{article.imagepath}}" alt="{{article.alt}}"> #}
<img src="https://departments.as.cornell.edu/sites/default/files/styles/portrait/public/2021-09/2020_1227_060.jpg" alt="Flowering tree in spring">

	</figure>
	{% endset %}
{% else %}
	{% set image %}
	<figure>;lksjf;laksfjs
    <img src="https://departments.as.cornell.edu/sites/default/files/styles/portrait/public/2021-09/2020_1227_060.jpg" alt="Flowering tree in spring">
	</figure>
	{% endset %}
{% endif %}



<div {{ bem(card_base_class, (card_modifiers), article_blockname, article_classes) }} {% if nodeId %} aria-labelledby="item--{{nodeId}}" {% endif %}> 

{{title_suffix}}
{{image}}


	<div {{ bem(article_copy_base_class|default('article__copy'), (article_copy_modifiers), article_copy_blockname) }}>

		
			{% include "@content/atoms/_heading.twig" with {
        "heading_level": 2,
        "heading": title,
        "heading_url": url,
        "heading_blockname": article_title_blockname|default(card_base_class),
        "heading_modifiers": article_title_modifiers,
        "heading_link_base_class": article_title_link_base_class|default('title-link'),
        "heading_link_blockname": card_base_class,
        "heading_base_class": article_title_base_class|default('title'),
        "isAriaLabel" : nodeId
    } %}


		{% if show_label %}
			<span class="article__label">
				{{ card_label }}
			</span>
		{% endif %}

		{% if show_dateline %}
			<span class="article__date">
				{{ dateline }}
			</span>
		{% endif %}

		{% if show_bylines %}
			<span class="article__byline">
				By |
				{{ bylines }}
			</span>
		{% endif %}

	</div>
</div>
