{# 

/* -------------------------

Title: node--article--card.html.twig
Descr: defines "article" and outputs fields for article card

--------------------------- */ 

#}
{# set wrapper bem calsses #}
{# {% set card_base_class = 'article' %}
{% set card_modifiers =  ["article","card-small"]%} #}
{%
  set blockClasses = [
    'article',
    view_mode ? 'article--' ~ view_mode|clean_class,
  ]
%}


{% if content.field_remote_uuid.0 %}
	{% set remote_uuid = content.field_remote_uuid[0]['#context']['value'] %}
	{% set article = parse_article_json(remote_uuid) %}
{# {{vardumper(article)}} #}
	{% set title = article.title %}
	{% set localorremote = "remote"%}

	{# card label #}
	{% if article.card_label %}
		{% set show_label = true %}
		{% set card_label = article.card_label %}
	{% endif %}

	{# 
	  else set to local and set all variables from "content"
	#}

{% else %}
	{% set title = label %}
	{% set localorremote = "local"%}

	{# card label #}
	{% if content.field_card_label.0 %}
		{% set show_label = true %}
		{% set card_label = content.field_card_label %}
	{% endif %}

{% endif %}

{# 
setting image
  - if local image path set use that
  - if no local image check for article.thumbnail_imagepath
  - default to stock image
#}
{% if content.field_image.0 %}
	{% set image %}
	{{content.field_image}}
	{% endset %}
{% else %}
	{% set image %}
		<figure>
			{% if article.imagepath %}
				<img src="{{article.imagepath|imagecache_external('portrait')}}" alt="{{article.imagealt}}">
			{% else %}
				<img src="https://as.cornell.edu/sites/default/files/styles/4_5/public/field/image/Klarmanarticle.jpg" alt="Klarmann Hall">
			{% endif %}
		</figure>
	{% endset %}
{% endif %}

<article {{attributes.addClass(blockClasses)}} {% if nodeId %} aria-labelledby="item--{{nodeId}}" {% endif %}>

{{title_suffix}}
{{image}}


	<div class="article__copy">
   		
     <h2 class="article__title">
      <a href="{{url}}">{{title}}</a>
    </h2>
    {% if show_label %}
			<p class="article__label">
				{{ card_label }}
			</p>
		{% endif %}


	</div>
</article>
