{# 

/* -------------------------

Title: node--article.html.twig
Descr: defines "article" and outputs fields for article card

--------------------------- */ 

#}
{# set wrapper bem calsses #}
{% set page_base_class = 'page' %}
{% set page_modifiers =  ["article"]%}


{#

*********

LOCAL ARTICLE

*********

 #}

{# if article components then fetch local article fields #}
{% if content.field_article_components %}
LOCAL ARTICLE

	{# image #}
	{% if content.field_image %}
		{% set image %}
			{{content.field_image}}
		{% endset %}
	{% endif %}

	{# card label #}
	{% if content.field_card_label %}
	  {% set show_label = true %}
	  {% set article_card_label = content.field_card_label %}
	{% endif %}

	{# dateline #}
	{% if content.field_dateline %}
	  {% set show_dateline = true %}
	  {% set dateline = content.field_dateline %}
	{% endif %}

	{# bylines #}
	{% if content.field_bylines %}
	  {% set show_bylines = true %}
	  {% set article_bylines = content.field_bylines %}
	{% endif %}

	{# media sources #}
	{% if content.field_media_sources %}
	  {% set show_media_sources = true %}
	  {% set article_media_sources = content.field_media_sources %}
	{% endif %}

	{# Related people #}
	{% if content.field_related_people %}
		{% set show_related_people = true %}
	  {% set related_people = field_related_people %}
	{% endif %}

	{# Related articles #}
	{% if content.field_related_articles %}
		{% set show_relatedArticleList = true %}
	  {% set article_related_articles = field_related_articles %}
	{% endif %}

{% endif %}


{#

*********

REMOTE ARTICLE

*********

 #}

{# if remote uuid then fetch article json #}
{% if content.field_remote_uuid %}
	{% set remote_uuid = content.field_remote_uuid[0]['#context']['value'] %}
	{% set article = parse_article_json(remote_uuid) %}

	{# {{vardumper(article)}} #}
	{% if article.imagepath %}
		{% set image %}
			<img src="{{article.imagepath}}" alt="{{article.alt}}">
		{% endset %}
	{% endif %}


	{# card label #}
	{% if article.card_label %}
	  {% set show_label = true %}
	{% endif %}

	{# dateline #}
	{% if article.dateline %}
	  {% set show_dateline = true %}
	  {% set dateline = article.dateline %}
	{% endif %}

	{# bylines #}
	{% if article.bylines %}
	  {% set show_bylines = true %}
	{% endif %}

	{# media sources #}
	{% if article.media_sources %}
	  {% set show_media_sources = true %}
	{% endif %}

	{# departments #}
	{% if article.departments %}
	  {% set show_departments_programs = true %}
	{% endif %}

	{#

	*********

	if item set show as true and create related_articles and loop over array to build image, and pass what is needed to _article--card--small.twig then output as {{related_articles}}

	*********

	 #}

	{# Related people #}
	{% if article.related_people %}
		{% set show_related_people = true %}
	  {# build person card #}
	  {% set related_people %}
	    {% for person in article.related_people %}
	      {% set image %}
	        <img src="{{person.image['#uri']}}" alt="{{person.image['#alt']}}">
	      {% endset %}
	      {% embed "@content/person/_person--card.twig" with {
	      title: person['#title'],
	      image: image
	      } %}{% endembed %}
	    {% endfor %}
	  {% endset %}
	{% endif %}



	<main {{ bem(main_element_base_class, (main_element_modifiers), main_blockname, main_element_extra_classes) }}>
		{{titles_suffix}}
		{{ title_prefix }}

	  {% if hasPano %}
			<div class="article__pano">
				{{article_pano}}
			</div>
		{% endif %}

		<div class="article__title">
			{% include "@content/atoms/_heading.twig" with {
	      "heading_level" : 1,
	      "heading" : article.title,
	      "heading_modifiers" : ["margin"],
	      "heading_base_class" : "title"
	    } %}
			<p class="article__label">
				{{label}}
			</p>
			{% if show_bylines or show_media_sources or show_article_dateline %}
				<p class="article__byline">
					{% if show_bylines or show_media_sources %}
						{% if show_bylines %}
							By |
							{{ article.bylines }}{{ article_bylines }}
						{% endif %}

						{% if show_byline and show_media_sources %}
							,
						{% endif %}
						{% if show_media_sources %}
							{{article.media_sources}}{{article_media_sources}}
						{% endif %}
						<br/>
					{% endif %}
				</p>
			{% endif %}
			<span class="article__dateline">
				{{article.dateline}}{{dateline}}
			</span>
		</div>

	  <div class="article__content">
	    {{article.article_components}}
	    <h2>
	      More News from A&S
	    </h2>
	    <div class="smallCards pcWrapper pcWrapper--relatedArticles">
	      {{ drupal_view('news', 'block_2') }}
	      <a href="/news" class="btn btn--blue">
	        View all news
	      </a>
	    </div>
	  </div>
		<div class="article__thumbnail">
			{{image}}
		</div>
		<aside role="complimentary">
			{# {% if show_related_articles %}
				<h3>
					Related articles
				</h3>
				{{article.related_articles}}
			{% endif %} #}

			{% if show_relatedArticleList %}
				<h3>
					Related articles
				</h3>
				{{article.related_articles}}
			{% endif %}

	    {# {% if show_departments_programs %}
				<h3>
					Related department or program
				</h3>
				{{article.departments}}
			{% endif %} #}

	    {# {% if show_related_people %}
				<h3>
					Related people
				</h3>
				{{related_people}}
			{% endif %} #}
{% endif %}
	</aside>
</main>
