{#
    Sets content for block--as-events.html.twig which pulls in event-list.twig.
    twig tweak
 #}

 {% set label = content.field_component_label %}
 {% set courses_shown = content.field_courses_shown|field_value|safe_join('')%}
 {% set keyword_params = content.field_keyword_params|field_value|safe_join('') %}
 {% set semester = content.field_semester|field_raw|safe_join('') %}
 {% set semestername = content.field_semester|field_value|safe_join(', ') %}
 {% set block_type = content.field_block_type|field_raw|safe_join('') %}
<h3>
   {{content.field_component_label}}
</h3>
{{block_type}}
   {# added as block #}
      {# drupal_block('courses_block', {label: label, courses_shown: courses_shown , keyword_params: keyword_params, semester: semester, semestername: semestername}) #}
   {# added as twig function #}
      {% set courses = parse_courses_json(semester,keyword_params,courses_shown,block_type) %}
      {{vardumper(courses)}}
   {# outputting just first record for testing #}
      <div>{{courses.0.subject}}</div>
      <div>{{courses.0.number}}</div>
      <div>{{courses.0.title}}</div>
      <div>{{courses.0.description}}</div>
      <div>{{courses.0.offered}}</div>
      <div>{{courses.0.acadGroup}}</div>
      <div>{{courses.0.acadCareer}}</div>

